<%- include('partials/header1') %>
<div class="">
   <div class="row mb-3 row1">
      <%- include("partials/menu1"); -%>
      <div class="col-md-8 themed-grid-col data">
         <h4>Učenici 3. razreda i njihovi dnevni zadaci:</h4>
         <table>
            <tr>
               <th>Učenik</th>
               <th>Razred</th>
               <th>Odgovor</th>
            </tr>
            <%  user.forEach(function(user){ %>
            <tr>
               <td><%= user.name %></td>
               <td><%= user.classroom %></td>
               <td><%= user.dailytasks %></td>
            </tr>
            <% }) %>
         </table>
      </div>
   </div>
</div>
<%- include("partials/footer"); -%>