<%- include('partials/header1') %>
<div class="">
   <div class="row mb-3 row1">
      <%- include("partials/menu1"); -%>
      <div class="col-md-8 themed-grid-col">
         <h4 class="srednji">
            Moji podaci:
         </h4>
         <table>
            <tr>
               <th>Ime</th>
               <th>Razred</th>
               <th>username</th>
            </tr>
            <tr>
               <td><%= name %></td>
               <td><%= classroom %></td>
               <td><%= username %></td>
            </tr>
         </table>
         <div class="dnevni">
            <a type="submit" class="btn btn-light btn-sm letter user" id="register" title="Moji dnevni zadaci" href="/users_data/<%= userId %>/users_dailytasks">Moji poslani dnevni zadaci</a>
         </div>
      </div>
   </div>
</div>
<%- include("partials/footer"); -%>